body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-image: linear-gradient(rgb(206, 122, 136), rgb(110, 47, 47));
}

.full {
    width: 100vw;
    height: 10vh;
    text-align: center;
}

.options {
    display: flex;
}

app-opt-one, app-opt-two {
    width: 50vw;
    height: 70vh;
    border-right: solid 1px black;
    border-left: solid 1px black; 
}

meter {
    width: 10%;
}
